.frontpage-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-height {
  min-height: 100vh;
}

.section-content {
  background-origin: padding-box, padding-box;
  padding-bottom: 88px;
  padding-top: 160px;
  text-align: center;
}

.section-title {
  box-sizing: border-box;
  font-family: 'Merriweather Sans', 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  margin-bottom: 8px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.section-description {
  box-sizing: border-box;
  font-family: Merriweather, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 48px;
  margin-top: 0;
  text-align: center;
}

.section-image {
  align-items: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(244, 98, 58, 0.9);
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto;
  bottom: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.section-link {
  -moz-user-select: none;
  border-bottom: 0 !important;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  display: inline-block;
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 13.6px;
  font-weight: 700;
  line-height: 20.4px;
  padding-bottom: 20px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  vertical-align: middle;
}

.section-link:hover {
  background-color: #E42727;
  text-decoration: none;
}
